.places__paragraph{
    margin: 0 0 24px 0;
    font-size: 18px;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    
    .places__paragraph{
        font-size: 16px;
        line-height: 26px;
    }
}