@import url(__item/photo-grid__item.css);

.photo-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    
    grid-gap: 16px;
}

@media screen and (max-width:950px){
    .photo-grid{
        padding: 0 24px 0;
    }
}

@media screen and (max-width:320px){
    .photo-grid{
        padding: 0 15px 0;
    }
}