.places__website-link{
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    letter-spacing:0;

    text-decoration-line: underline;
    
    transition: .5s linear;
}

.places__website-link:hover {
    opacity: .8;
}