.footer__nav-link{
    color: #fff;
    text-decoration: none;
    padding-right: 18px;
    
    font-size: 16px;
    line-height: 18px;
}

.footer__nav-link:hover {
    opacity: .8;
}

@media screen and (max-width: 520px){
    .footer__nav-link{
        font-size: 24px;
    }
}