.copyright{
    margin: 0;
    
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 520px){

    .footer__copyright{
        padding-top: 16px;
        font-size: 14px;
        line-height: 14px;
    }
    
}