@import url(__title/intro__title.css);
@import url(__text/intro__text.css);
@import url(__list/intro__list.css);
@import url(__list-li/intro__list-li.css);
@import url(__list-number/intro__list-number.css);

.intro{
    margin: 92px 0 92px 100px;
    max-width: 690px;
}

@media screen and (max-width: 1100px){
    .intro{
    margin: 92px 0 92px 0;
    }
}

@media screen and (max-width:1024px){
    .intro{
        padding: 0 48px 0;
    }
}

@media screen and (max-width:950px){
    .intro{
        padding: 0 24px 0;
    }
}

@media screen and (max-width:680px){
    .intro{
        margin: 64px auto;
    }
}

@media screen and (max-width:320px){
    .intro{
        padding: 0 15px 0;
    }
}