@import url(../vendor/normalize.css);
@import url('https://rsms.me/inter/inter.css');

@import url(../blocks/root/root.css);
@import url(../blocks/container/container.css);
@import url(../blocks/link/link.css);
@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);


@media screen and (max-width: 1100px){
    
    .intro{
    margin: 92px 0 92px 0;
    max-width: 690px;
    }
}

@media screen and (max-width: 1024px){
    
    .places__place {
    grid-gap: 32px;
    grid-template-columns: repeat(2, fit-content(350px));
        
    }
    
    .cover__title{
        padding-top: 195px;
    }
    
    .cover__subtitle{
        padding-bottom: 195px;
    }
    
}

@media screen and (max-width: 768px){
    
    .places__place {
        grid-gap: 28px;
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    }
        
    .places__title{
       font-size: 42px;
        line-height: 46px;
    }
    
    .places__paragraph{
        font-size: 16px;
        line-height: 26px;
    }
    
    .cover__title{
        padding-top: 115px;
    }
    
    .cover__subtitle{
        padding-bottom: 115px;
    }
    
    .places__place{
        margin-bottom: 72px;
    }
    
}

@media screen and (max-width:680px){
    .lead__title{
        font-size: 40px;
        line-height: 44px;
    }
    
    .lead__subtitle{
        font-size: 16px;
        margin: 0 auto 56px;
        line-height: 20px;
    }
    
    .header__lang-link{
        font-size: 18px;
    }
    
    .intro{
        margin: 64px auto;
    }
}

@media screen and (max-width: 520px){
    
    .intro__title{
        font-size: 32px;
    }
    
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        padding-top: 33px;
    }
    
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 33px;
    }
    
    .places__place{
        margin-bottom: 48px;
    }
    
    .footer{
        max-width: 186px;
    }
    
    .footer__nav-link{
        padding-bottom: 32px;
        font-size: 24px;
    }
    
    .footer__copyright{
        padding-top: 16px;
        font-size: 14px;
        line-height: 14px;
    }
    
}
