.lead__caption{
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 8px;
}

@media screen and (max-width:950px){
    .lead__caption{
        padding: 0 24px 0;
    }
}


@media screen and (max-width:320px){
    .lead__caption{
        padding: 0 15px 0;
    }
}