.container{
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width:1024px){
    .container{
        max-width:928px;
    }
}

@media screen and (max-width:768px){
    .container{
        max-width:768px;
    }
}

@media screen and (max-width:320px){
    .container{
        max-width:320px;
    }
}