@import url(__nav/footer__nav.css);
@import url(__links/footer__links.css);
@import url(__link/footer__link.css);
@import url(__nav-link/footer__nav-link.css);
@import url(__copyright/footer__copyright.css);

.footer{
    margin: 92px 0 24px 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:1024px){
    .footer{
        padding: 0 48px 0;
    }
}

@media screen and (max-width: 950px){
     .footer{
        padding: 0 24px 0;
    }
}

@media screen and (max-width: 520px){
     .footer{
        max-width: 186px;
        padding: 0 15px 0;
    }
}

